<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>
    <link rel="stylesheet" href="/css/coursesviewPage.css">
    <script src="/js/course-view.js"></script>
</head>
<body>
{{>header}}
<div class="myCourses">
    <h1>Mis Cursos</h1>
    <div class="CoursesContainer">
        {{#userCourses}} <!-- Mustache screen showing the course model to dynamically generate the rest -->
        <div class="course" onclick='redirect("/courses/{{id}}")'>
            <div class="course-title">
                <h3>{{name}}</h3>   <!-- We use Mustache to load the course name, int the controller it's given by the Course Object ArrayList -->
            </div>
            <div class="course-image">
                <img src="/courses/{{id}}/getImage" alt="League of Legends">
            </div>
            <div class="course-description">
                <p>{{description}}</p>
            </div>
        </div>
        {{/userCourses}}
    </div>
    <h1 class="AvailableCourses">Cursos No Disponibles</h1>
    <div class="CoursesContainer">
        {{#availableCourses}} <!-- Mustache screen showing the course model to dynamically generate the rest -->
        <div class="course">
            <div class="course-title">
                <h3>{{name}}</h3>
            </div>
            <div class="course-image">
                <img src="/courses/{{id}}/getImage" alt="League of Legends">
            </div>
            <div class="course-description">
                <p>{{description}}</p>
            </div>
        </div>
        {{/availableCourses}}
    </div>
</div>
{{>footer}}
</body>
</html>