<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Panel Cursos de Usuario</title>
  <link rel="stylesheet" href="/css/usersCoursePanel.css">
  <link rel="icon" href="/images/1.svg" sizes="any" type="image/svg+xml">
  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

</head>
<body>

<nav>
  {{#modules}}
  <ul class="modules">
    <li><a href="/courses/{{courseId}}/module/{{id}}">{{name}}</a></li> <!-- Cabiar nombre a nombre de los módulos -->
  </ul>
  {{/modules}}
  <ul class="modules">
    <li>Entrega</li>
  </ul>
</nav>
<section id="content">
  <script>
    fetch("/course/{{courseId}}/module/{{id}}/content")
            .then(response => response.text())
            .then(text => {
              document.getElementById('content').innerHTML = marked.parse(text);
            });
  </script>
</section>
</body>
</html>