<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Entrega</title>
    <link href="https://cdn.quilljs.com/1.3.7/quill.snow.css" rel="stylesheet">
    <script type="text/javascript" src="/js/purify.js"></script>
    <script type="text/javascript" src="/js/quill.js"></script>
    <script src="https://cdn.quilljs.com/1.3.7/quill.min.js"></script>
    <link rel="stylesheet" href="/css/userPage.css">
    <link rel="icon" href="/images/1.svg" sizes="any" type="image/svg+xml">
</head>
<body>
<div class="container">
    <h1>Entrega del Curso {{courseName}}</h1>
    {{^submitted}}
    <h2>{{task}}</h2>
    <form id="userForm" action="/courses/{{courseId}}/submission" method="post" enctype="multipart/form-data">
        <input type="file" id="submission" name="submission" accept="application/pdf">
        <div class="buttons">
            <button type="reset" class="cancel">Borrar Todo</button>
            <button type="submit" class="save">Guardar</button>
        </div>
        <input type="hidden" name="_csrf" value="{{token}}">
    </form>
    {{/submitted}}
    {{#submitted}}
    <h2>Entrega Realizada</h2>
    <h3>Nota: {{grade}}</h3>
    <h3>Comentarios</h3>
    {{#comments}}
    {{.}}
    {{/comments}}
    <div id="comment-editor"></div>
    <input type="hidden" name="_csrf" value="{{token}}">
    <input type="hidden" name="courseId" value="{{courseId}}">
    <button id="save-comment" class="save">Guardar Comentario</button>
    {{/submitted}}
</div>
</body>
</html>