<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Panel Administración</title>
    <link rel="stylesheet" href="/css/adminPage.css">
    <link rel="icon" href="/images/1.svg" sizes="any" type="image/svg+xml">
</head>
<body>
<nav>
    <ul>
        <li><a href="/admin">Gestionar Usuarios</a></li>
        <li><a href="/admin/courses">Gestionar Cursos</a></li>
        <li><a href="/profile/{{userId}}">Configuraciones</a></li>
        <li class="logout"><a href="/logout">Cerrar Sesión</a></li>
    </ul>
</nav>
<section id="content">
    <div id="container">
        <h1>Panel de Administración</h1>
        <div id="Welcome">
            <p>Bienvenido, {{admin}}</p>
        </div>
        {{#users}}
        <form action="/admin/users/{{id}}/delete" method="post" id="delete-user-{{id}}"></form>
        {{/users}}
        <form id="filterForm" action="/admin" method="get">
            <div>
                <label for="role">Filtrar por rol:</label>
                <select id="role" name="role">
                    <option value="">Todos</option>
                    <option value="0">Administrador</option>
                    <option value="1">Profesor</option>
                    <option value="2">Alumno</option>
                </select>
            </div>
            <div>
                <label for="campus">Filtrar por campus:</label>
                <select id="campus" name="campus">
                    <option value="">Todos</option>
                    <option value="Noxus">Noxus</option>
                    <option value="Piltover">Piltover</option>
                    <option value="Zaun">Zaun</option>
                </select>
            </div>
            <input type="button" value="Filtrar" onclick="applyFilters()">
        </form>
        <div id="users">
            <h2>Usuarios</h2>
            <table id="usersTable">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Nombre Usuario</th>
                    <th>Campus</th>
                    <th>Rol</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                    <th>Gestionar Roles</th>
                </tr>
                </thead>
                <tbody id="usersBody">
                <!-- Usuarios se cargarán aquí -->
                </tbody>
            </table>
            <div id="pagination">
                <button id="prevPage">Anterior</button>
                <span id="pageInfo"></span>
                <button id="nextPage">Siguiente</button>
            </div>
        </div>
    </div>
</section>
<script>
    let currentPage = 0;
    let totalPages = 0;

    function loadUsers(page) {
        const role = document.getElementById('role').value;
        const campus = document.getElementById('campus').value;
        const removeSelf = true;
        const userId = {{userId}};
        const url = new URL('/api/users/', window.location.origin);
        url.searchParams.append('page', page);
        url.searchParams.append('size', 7);
        if (campus) url.searchParams.append('campus', campus);
        if (role) url.searchParams.append('role', role);
        if (removeSelf) url.searchParams.append('removeSelf', removeSelf);
        if (userId) url.searchParams.append('userId', userId);

        fetch(url)
            .then(response => response.json())
            .then(data => {
                const usersBody = document.getElementById('usersBody');
                usersBody.innerHTML = '';
                data.content.forEach(user => {
                    usersBody.innerHTML += `
                        <tr class="tableItems">
                            <td class="center">${user.id}</td>
                            <td class="center">${user.realName}</td>
                            <td class="center">${user.surname}</td>
                            <td class="center">${user.userName}</td>
                            <td class="center">${user.campus}</td>
                            <td class="center">${user.role}</td>
                            <td class="center"><a href="/admin/users/${user.id}">Editar</a></td>
                            <td><input type="submit" value="Eliminar" form="delete-user-${user.id}"></td>
                            <td class="center"><a href="/admin/users/${user.id}/roles">Gestionar Roles</a></td>
                        </tr>
                    `;
                });

                totalPages = data.page.totalPages;
                document.getElementById('pageInfo').innerText = `Página ${currentPage + 1} de ${totalPages}`;
                document.getElementById('prevPage').disabled = data.first;
                document.getElementById('nextPage').disabled = data.last;
            });
    }

    function applyFilters() {
        currentPage = 0;
        loadUsers(currentPage);
    }

    document.getElementById('prevPage').addEventListener('click', () => {
        if (currentPage > 0) {
            currentPage--;
            loadUsers(currentPage);
        }
    });

    document.getElementById('nextPage').addEventListener('click', () => {
        if (currentPage < totalPages - 1) {
            currentPage++;
            loadUsers(currentPage);
        }
    });

    // load the first page of users
    loadUsers(currentPage);
</script>
</body>
</html>