<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Panel Administración</title>
    <link rel="stylesheet" href="/css/adminPage.css">
    <link rel="icon" href="/images/1.svg" sizes="any" type="image/svg+xml">
</head>
<body>
<nav>
    <ul>
        <li><a href="/admin">Gestionar Usuarios</a></li>
        <li><a href="/admin/courses">Gestionar Cursos</a></li>
        <li><a href="/profile/{{userId}}">Configuraciones</a></li>
        <li class="logout"><a href="/logout">Cerrar Sesión</a></li>
    </ul>
</nav>
<section id="content">
    <div id="container">
        <h1>Panel de Administración</h1>
        <div id="Welcome">
            <p>Bienvenido, {{admin}}</p>
        </div>
        {{#users}}
        <form action="/admin/users/{{id}}/delete" method="post" id="delete-user-{{id}}"></form>
        {{/users}}
        <form action="" method="post">
            <!-- Add two dropdowns to ilter by role and campus allowing multiple aoptions-->
            <div>
                <label for="role">Filtrar por rol:</label>
                <select id="role" name="role">
                    <option value="all">Todos</option>
                    <option value="admin">Administrador</option>
                    <option value="teacher">Profesor</option>
                    <option value="student">Alumno</option>
                </select>
            </div>
            <div>
                <label for="campus">Filtrar por campus:</label>
                <select id="campus" name="campus">
                    <option value="all">Todos</option>
                    <option value="Noxus">Noxus</option>
                    <option value="Demacia">Demacia</option>
                    <option value="Ionia">Ionia</option>
                </select>
            </div>
            <input type="submit" value="Filtrar">
        </form>
        <div id="users">
            <h2>Usuarios</h2>
            <table id="usersTable">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Nombre Usuario</th>
                    <th>Campus</th>
                    <th>Rol</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                    <th>Gestionar Roles</th>
                </tr>
                </thead>
                <tbody>
                {{#users}}
                <tr class="tableItems">
                    <td class="center">{{id}}</td>
                    <td class="center">{{realName}}</td>
                    <td class="center">{{surname}}</td>
                    <td class="center">{{userName}}</td>
                    <td class="center">{{campus}}</td>
                    <td class="center">{{role}}</td>
                    <td class="center">
                        <a href="/admin/users/{{id}}">Editar</a>
                    </td>
                    <td>
                        <input type="submit" value="Eliminar" form="delete-user-{{id}}">
                    </td>
                    <td class="center">
                        <a href="/admin/users/{{id}}/roles">Gestionar Roles</a>
                    </td>
                </tr>
                {{/users}}
                </tbody>
            </table>
        </div>
    </div>
</section>
</body>
</html>