<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Panel Administración</title>
  <link rel="stylesheet" href="/css/adminPage.css">
  <link rel="icon" href="/images/1.svg" sizes="any" type="image/svg+xml">
</head>
<body>
{{>adminNav}}
<section id="content">
  <div id="container">
    <h1>{{student}}</h1>
    <div class="centerRoles">
      <form action="/admin/users/{{id}}/roles/0" method="post">
      <input type="submit" class="roleButton" value="Convertir en administrador">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
      </form>
      <form action="/admin/users/{{id}}/roles/1" method="post">
        <input type="submit" class="roleButton" value="Convertir en profesor">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
      </form>
      <form action="/admin/users/{{id}}/roles/2" method="post">
        <input type="submit" class="roleButton" value="Convertir en alumno">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
      </form>
    </div>
  </div>
</section>
</body>
</html>