<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Panel Administración</title>
  <link rel="stylesheet" href="/css/adminPage.css">
  <link rel="icon" href="/images/1.svg" sizes="any" type="image/svg+xml">
</head>
<body>
<nav>
  <ul>
    <li><a href="/admin">Gestionar Usuarios</a></li>
    <li><a href="/admin/courses">Gestionar Cursos</a></li>
    <li><a href="profile/{{user.id}}">Configuraciones</a></li>
    <li class="logout"><a href="/logout">Cerrar Sesión</a></li>
  </ul>
</nav>
<section id="content">
  <div id="container">
    <h1>{{student}}</h1>
    <div class="centerRoles">
      <form action="/admin/users/{{id}}/roles/0">
      <input type="submit" class="roleButton" value="Convertir en administrador">
        <input type="hidden" name="_csrf" value="{{token}}">
      </form>
      <form action="/admin/users/{{id}}/roles/1">
        <input type="submit" class="roleButton" value="Convertir en profesor">
        <input type="hidden" name="_csrf" value="{{token}}">
      </form>
      <form action="/admin/users/{{id}}/roles/2">
        <input type="submit" class="roleButton" value="Convertir en alumno">
        <input type="hidden" name="_csrf" value="{{token}}">
      </form>
    </div>
  </div>
</section>
</body>
</html>