<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{{user.userName}} Profile</title>
    <link rel="stylesheet" href="/css/userPage.css">
    <link rel="icon" href="/images/1.svg" sizes="any" type="image/svg+xml">
</head>
<body>
<div class="container">
    <img class="profile-img" src="/user_pfp/{{user.id}}" alt="profile image">
    <form id="userForm" action="/profile/update/{{user.id}}" method="post" enctype="multipart/form-data">
        <input type="text" value="{{user.userName}}" id="username" name="username">
        <input type="file" id="image" name="image" accept="image/png">
        <div class="buttons">
            <button type="reset" class="cancel">Borrar Todo</button>
            <button type="submit" class="save">Guardar</button>
        </div>
        <input type="hidden" name="_csrf" value="{{token}}">
    </form>
</div>
</body>
</html>