<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{{userName}} Profile</title>
    <link rel="stylesheet" href="/css/userPage.css">
</head>
<body>
<div class="container">
    <img class="profile-img" src="/user_pfp/{{id}}" alt="profile image">
    <form id="userForm" action="/profile/update/{{id}}" method="post" enctype="multipart/form-data">
        <input type="text" placeholder="{{userName}}" id="username" name="username">
        <input type="password" placeholder="Contraseña Actual" id="prevPassword" name="prevPassword">
        <input type="password" placeholder="Nueva Contraseña" id="newPassword" name="newPassword">
        <input type="file" id="image" name="image" accept="image/png">
        <div class="buttons">
            <button type="button" class="cancel">Cancelar</button>
            <button type="submit" class="save">Guardar</button>
        </div>
    </form>
</div>
</body>
</html>