<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{userName}} Profile</title>
    <link rel="stylesheet" href="/css/userPage.css">
</head>
<body>
<div class="container">
    <img class="profile-img" src="{{userImage}}" alt="profile image">
    <form>
        <input type="text" placeholder="Nombre de usuario">
        <input type="email" placeholder="Correo electrónico">
        <input type="password" placeholder="Contraseña">
        <div class="buttons">
            <button type="button" class="cancel">Cancelar</button>
            <button type="submit" class="save">Guardar</button>
        </div>
    </form>
</div>
</body>
</html>