<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Panel Administración</title>
    <link rel="stylesheet" href="/css/adminPage.css">
    <link rel="icon" href="/images/1.svg" sizes="any" type="image/svg+xml">
</head>
<body>
{{>adminNav}}
<section id="content">
    <div id="container">
        <h1>Introduzca los datos</h1>
        <div id="users">
            <form id="courseForm" action="/admin/courses/addCourse" method="post" enctype="multipart/form-data">
                <div>
                    <label for="name">Nombre del curso:</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div>
                    <label for="description">Descripción:</label>
                    <textarea id="description" name="description" required></textarea>
                </div>
                <div>
                    <label for="teacher">Profesor:</label>
                    <select id="teacher" name="teacherId">
                        {{#availableTeachers}}
                        <option value="{{id}}">{{userName}}</option>
                        {{/availableTeachers}}
                    </select>
                </div>
                <div>
                    <label for="task">Tarea a completar por los alumnos:</label>
                    <textarea id="task" name="task" required></textarea>
                </div>
                <input type="file" id="image" name="imageCourse" accept="image/png">
                <div>
                    <button type="submit">Crear curso</button>
                </div>
                <input type="hidden" name="_csrf" value="{{_csrf.token}}">
            </form>
        </div>
    </div>
</section>
</body>
</html>