<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crea un módulo</title>
    <link rel="icon" href="/images/1.svg" sizes="any" type="image/svg+xml">
</head>
<body>
<h1>Crea un nuevo módulo para el curso</h1>
<div>
    <label for="name">Nombre del módulo:</label>
    <input type="text" id="name" name="name" required>
</div>
<div>
    <label for="description">Descripción:</label>
    <textarea id="description" name="description" required></textarea>
</div>
<div>
    <button type="submit">Crear módulo</button>
</div>
</form>
</body>
</html>