<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Panel Administración</title>
    <link rel="stylesheet" href="/css/adminPage.css">
    <link rel="icon" href="/images/1.svg" sizes="any" type="image/svg+xml">
</head>
<body>
<nav>
    <ul>
        <li><a href="/admin">Gestionar Usuarios</a></li>
        <li><a href="/admin/courses">Gestionar Cursos</a></li>
        <li><a href="/profile/{{userId}}">Configuraciones</a></li>
        <li class="logout"><a href="/logout">Cerrar Sesión</a></li>
    </ul>
</nav>
<section id="content">
    <div id="container">
        <h1>Panel de Gestión de Cursos</h1>
        <div id="Welcome">
            <p>Bienvenido, {{admin}}</p>
        </div>
        <div id="users">
            <h2>Cursos</h2>
            <div id="newButtonDiv">
                <button id="newButton" onclick="redirect()">Añadir Curso</button>
                <script>
                    function redirect() {
                        window.location.href = "/admin/courses/addCourse";
                    }
                </script>
            </div>
            {{#courses}}
            <form action="/admin/courses/{{id}}/addStudent" method="post" id="add-student-form-{{id}}"></form>
            {{/courses}}
            <table id="usersTable">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Curso</th>
                    <th>Profesor responsable</th>
                    <th>Acciones</th>
                    <th>Añadir Alumno</th>
                    <th>Asignar Profesor</th>
                </tr>
                </thead>
                <tbody>
                {{#courses}}
                <tr class="tableItems">
                    <td class="center">{{id}}</td>
                    <td class="center">{{name}}</td>
                    {{#teacher}}
                    <td class="center">{{teacher.userName}}</td>
                    {{/teacher}}
                    {{^teacher}}
                    <td class="center">Sin profesor asignado</td>
                    {{/teacher}}
                    <td class="center">
                        <a href="/admin/courses/{{id}}/modules">Ver</a>
                        <form method="post" action="/admin/courses/{{id}}/delete">
                            <input type="submit" value= "Eliminar curso">
                        </form>
                    </td>
                    <td>
                        <input type="text" id="studentId" name="studentId" form="add-student-form-{{id}}" required>
                        <button type="submit" form="add-student-form-{{id}}">Añadir</button>
                    </td>
                    {{^teacher}}
                    <td>
                        <form action="/admin/courses/{{id}}/assignTeacher" method="post">
                            <label for="teacherId">Asignar Profesor</label>
                            <select id="teacherId" name="teacherId">
                                {{#availableTeachers}}
                                <option value="{{id}}">{{userName}}</option>
                                {{/availableTeachers}}
                            </select>
                            <button type="submit">Asignar</button>
                        </form>
                    </td>
                    {{/teacher}}
                </tr>
                {{/courses}}
                </tbody>
            </table>
        </div>
    </div>
</section>
</body>
</html>