<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="mycourses">
  <h1>Mis Cursos</h1>
  <div class="CoursesContainer">
          <!-- Curso LOL -->
          <div class="course">
              <div class="course-title">
                  <h3>Curso Básico de League of Legends</h3>
              </div>
              <div class="course-image">
                  <img src="/images/course1_LOL.jpg" alt="League of Legends">
              </div>
              <div class="course-description">
                  <p>¡Aprende los conceptos básicos antes de entrar a la grieta del invocador!</p>
              </div>
          </div>

          <!-- Curso 2 -->
          <div class="course">
              <div class="course-title">
                  <h3>Curso Avanzado de Pádel</h3>
              </div>
              <div class="course-image">
                  <img src="/images/course2_PADEL.jpg" alt="Pádel">
              </div>
              <div class="course-description">
                  <p>Aprende la técnica de los golpes ofensivos del pádel y no le eches más la culpa a tu compi por no tirar del carro. ¡Hazlo tú!</p>
              </div>
          </div>

          <!-- Curso Chistes de Cuñado -->
          <div class="course">
              <div class="course-title">
                  <h3>Curso C2 de Chistes de Cuñado</h3>
              </div>
              <div class="course-image">
                  <img src="course3.jpg" alt="Course 3"> <!-- HAY QUE PONER LA IMAGEN -->
              </div>
              <div class="course-description">
                  <p>¿Tienes el humor roto? Este curso interactivo es para ti! Aprende los mejores chistes y comparte tus chistes de cuñado. El saber no ocupa lugar.</p>
              </div>
          </div>

          <!-- Curso Intro Mundillo Laboral para no ser un frikitón -->
          <div class="course">
              <div class="course-title">
                  <h3>Curso de Introducción al Mundo Laboral</h3>
              </div>
              <div class="course-image">
                  <img src="course4.jpg" alt="Course 4"> <!-- HAY QUE PONER LA IMAGEN -->
              </div>
              <div class="course-description">
                  <p>¡Aprende a cómo comportarte, vestirte y comunicarte en el mundo laboral!</p>
              </div>
          </div>
      </div>

      <h2 class="CompletedCourses">Cursos Completados</h2>  <!-- Hacerlo mediante checkbox -->
</body>
</html>