<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="mycourses">
  <h1>Mis Cursos</h1>
  <div class="CoursesContainer">
          <!-- Curso LOL -->
          <div class="course">
              <div class="course-image">
                  <img src="course1.jpg" alt="Course 1"> <!-- HAY QUE PONER LA IMAGEN -->
              </div>
              <div class="course-description">
                  <p>This is the Description of the Course, shit LOL</p>
              </div>
          </div>

          <!-- Curso 2 -->
          <div class="course">
              <div class="course-image">
                  <img src="course2.jpg" alt="Course 2"> <!-- HAY QUE PONER LA IMAGEN -->
              </div>
              <div class="course-description">
                  <p>This is the Description of the Course</p>
              </div>
          </div>

          <!-- Curso 3 -->
          <div class="course">
              <div class="course-image">
                  <img src="course3.jpg" alt="Course 3"> <!-- HAY QUE PONER LA IMAGEN -->
              </div>
              <div class="course-description">
                  <p>This is the Description of the Course</p>
              </div>
          </div>

          <!-- Curso 4 -->
          <div class="course">
              <div class="course-image">
                  <img src="course4.jpg" alt="Course 4"> <!-- HAY QUE PONER LA IMAGEN -->
              </div>
              <div class="course-description">
                  <p>This is the Description of the Course</p>
              </div>
          </div>
      </div>

      <h2 class="CompletedCourses">Cursos Completados</h2>  <!-- Hacerlo mediante checkbox -->

</body>
</html>