<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Aula Visual</title>
</head>
<body>
<header style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
  <div style="display: flex; align-items: center; margin-left: 20px;">
    <img src="../images/img.png" alt="Logo" style="width: 100px; height: auto;">
  </div>
  <div class="header-title">
    <span style="font-size: 36px; font-weight: bold;">Aula Visual</span>
  </div>
  {{^user}}
  <div class="header-right">
    <a href="/login">Login</a>
    <a href="/register">Register</a>
  </div>
  {{/user}}

  {{#user}}
  <div class="header-right">
    <img src="https://via.placeholder.com/40" alt="Usuario" class="user-avatar">
    <a href="/profile" class="user-name">Nombre de Usuario</a>
  </div>
  {{/user}}

</header>
</body>
</html>
