<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AulaVisual - Home</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="indexBody">
{{>header}}
<main>
    <section id="intro">
        <div class="overlay"></div>
        <h2>About AulaVisual</h2>
        <p>AulaVisual is a platform dedicated to providing high-quality educational content. Our mission is to make learning accessible and engaging for everyone.</p>
    </section>
    <section id="about">
        <h2>About Us</h2>
        <p>We are a team of educators and technologists passionate about creating innovative learning experiences. Our content is designed to be interactive and engaging, helping learners achieve their goals.</p>
    </section>
</main>
{{>footer}}
<script src="../js/scripts.js"></script>
</body>
</html>