<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AulaVisual - Home</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/images/1.svg" sizes="any" type="image/svg+xml">
</head>
<body class="indexBody">
{{>header}}
<main>
    <section id="intro">
        <div class="overlay"></div>
        <h2>Sobre AulaVisual</h2>
        <p>AulaVisual es una plataforma dedicada a proveer de educación del más alto nivel. Nuestra misión es hacer la educación accesible y entretenida para todos.</p>
    </section>
    <section id="about">
        <h2>About Us</h2>
        <p>Somos un grupo de profesores de la Universidad Principe Carlos Juan a los que nos apasiona la enseñanza y nos preocupan con los derechos de autor. En la UPCJ tenemos más de 5 microondas en la cafetería y un wifi llamado Edumoan que funciona de verdad.</p>
        <br>
    </section>
</main>
{{>footer}}
</body>
</html>