<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Panel Administración</title>
    <link rel="stylesheet" href="/css/adminPage.css">
    <link rel="icon" href="/images/1.svg" sizes="any" type="image/svg+xml">
</head>
<body>
<nav>
    <ul>
        <li><a href="/admin">Gestionar Usuarios</a></li>
        <li><a href="/admin/courses">Gestionar Cursos</a></li>
        <li><a href="/profile/{{userId}}">Configuraciones</a></li>
        <li class="logout"><a href="/logout">Cerrar Sesión</a></li>
    </ul>
</nav>
<section id="content">
    <div id="container">
        <h1>Panel de Gestión de Cursos</h1>
        <div id="Welcome">
            <p>Bienvenido, {{admin}}</p>
        </div>
        <div id="users">
            <h2>Cursos</h2>
            <div id="newButtonDiv">
                <button id="newButton" onclick="redirect()">Añadir Curso</button>
                <script>
                    function redirect() {
                        window.location.href = "/admin/courses/addCourse";
                    }
                </script>
            </div>
            <table id="usersTable">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Curso</th>
                    <th>Profesor responsable</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                {{#courses}}
                <tr class="tableItems">
                    <td class="center">{{id}}</td>
                    <td class="center">{{name}}</td>
                    <td class="center">{{teacherId}}</td>
                    <td class="center">
                        <a href="/admin/courses/{{id}}/modules">Ver</a>
                        <a href="/admin/courses/{{id}}/delete">Eliminar curso</a>
                    </td>
                </tr>
                {{/courses}}
                </tbody>
            </table>
        </div>
    </div>
</section>
</body>
</html>